.Ejercicio1{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	border-color: black;
    border: solid;
}

.item1{
	background-color: red;
	width: 100px;
	height: 100px;
	margin: 10px;
	font-size: 30px;
	
}
.item2{
	background-color: blue;
	width: 100px;
	height: 100px;
	margin: 10px;
	font-size: 30px;
	
}
.item3{
	background-color: green;
	width: 100px;
	height: 100px;
	margin: 10px;
	font-size: 30px;
	
}