.Ejercicio1{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: flex-end;
	border-color: black;
    border: solid;
}

.item1{
	background-color: red;
	width: 100px;
	height: 100px;
	margin: 10px;
	font-size: 30px;
	
}
.item2{
	background-color: blue;
	width: 100px;
	height: 100px;
	margin: 10px;
	font-size: 30px;
	
}
.item3{
	background-color: green;
	width: 100px;
	height: 100px;
	margin: 10px;
	font-size: 30px;
	
}
.Ejercicio2{
	display: flex;
	position: relative;
	top: 30px;
	flex-wrap: wrap;
	justify-content: space-between;
	border-color: black;
    border: solid;
}
.Ejercicio3{
	display: inline-flex;
	position: relative;
	border: solid;
	top: 50px;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: row-reverse;
}
