form {
  box-sizing: border-box;
  width: 100%;
  border: solid #dc3545 10px;
  padding: 0px 25px 25px 25px;
  
}

main {
  margin: 8%;
}

a:active {
  color: black;
}
.reserva{
  margin-bottom: 35px;
}
.bienvenida{
  border: 2px solid #3498db; /* Establece el borde de 2px de ancho y color azul (#3498db) */
  padding: 20px; /* Agrega espacio interno al div */
}