<h1>{{title}}</h1>
{{#if conocido}}
<p>Hola bienvenidos {{nombre}} <a href="/salir">Salir</a></p>
{{/if}}

{{#unless conocido}}
<p>No perteneces a la lista de registrados</p>
<form action="/ingresar" method="post">

    <input type="text" name="nombre"><button>ingresar</button>
</form>
{{/unless}}