h1{
   font-family: "Courier New",monospace;
  color: white;
  font-size:10vh;
 
}
h3{
  font-family: 'Lato', sans-serif;
}
header {
  background: #041B7F;
   padding: 10px 15px 1px 45px;
 
}
img{
  border-radius: 8px;
  width: auto;
  display:block;
  margin:auto;
}
.titulos{
   background-color: #041B7F;
   border-radius: 45px 154px 0px 87px;
   width: 30%;
   color: white;
   padding: 20px;
  
   
  }
.perfil{
  width: 100%;
  border: 2px solid blue;
  padding: 5px 15px 5px 1px;

 
}

a:hover {
  color: #ff8400;
  font-size:20px;

  }
