<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum itaque dolorem dolores ab possimus expedita ipsam, iusto suscipit. Veniam ratione dignissimos illum temporibus similique ipsa fugiat voluptatem obcaecati ad itaque?</p>
<h2>Complete el formulario</h2>
<form action="">
    <input type="text" placeholder="Nombre">
     <input type="text" placeholder="Apellido">
</form>